.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow: hidden;
	overflow-y: scroll;
	padding: 10px;

	.item {
		position: relative;
		display: flex;
		border-radius: 10px;
		margin: 40px 0;
		background-color: rgb(61, 61, 61);
		max-width: 40%;
		height: 200px;
		margin-left: 40px;
		transition: ease-in-out 0.2s;
		box-shadow: rgba(236, 235, 235, 0.2) 0px 12px 28px 0px,
			rgba(204, 203, 203, 0.1) 0px 2px 4px 0px,
			rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

		img {
			max-width: 32px;
		}
		p {
			margin-left: 10px;
		}
		.title {
			align-items: center;
			border: 2px solid rgb(104, 255, 222);
			border-radius: 10px 0 0 10px;
			padding: 10px;
			min-width: 190px;
			max-width: 190px;
			word-wrap: break-word;
			.commentNum {
				font-size: 18px;
				margin-top: 20px;
				text-align: center;
			}
		}
		.description {
			display: flex;
			flex-direction: column;
			text-align: center;
			border: 2px solid rgb(104, 255, 222);
			border-radius: 0 10px 10px 0;
			border-left: none;

			h1 {
				font-size: 23px;
				color: rgb(59, 252, 252);
				padding-bottom: 10px;
			}
			p {
				overflow: hidden;
				overflow-y: auto;
				padding-right: 10px;
				padding-bottom: 10px;
			}
		}
	}
}
.button {
	position: fixed;
	left: 5px;
	button {
		background-color: #5e5e5e;
		border: 2px solid #00ffff;
		border-radius: 4px;
		box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
		box-sizing: border-box;
		color: #ffffff;
		cursor: pointer;
		font-size: 16px;
		font-weight: 600;
		outline: none;
		outline: 0;
		padding: 10px 25px;
		text-align: center;
		transform: translateY(0);
		transition: transform 150ms, box-shadow 150ms;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		&:hover {
			box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
			transform: translateY(-2px);
		}
	}
}
